<!DOCTYPE html>
<html>
<head>
	<title> Signup Form</title>
	<style>
		body{
			font-family: 'Poppins',sans-serif;
			width:100%;
			height:100vh;
			background: #121213;
			display:grid;
			place-items: center;
			color:white;
		}
		.container {
			display: flex;
			justify-content: space-between;
			margin: 20px;
		}

		.container div {
			padding: 10px;
			border: 1px solid #ddd;
			border-radius: 5px;
		}
	</style>
		
</head>
<body>
	<h1>Successfully Signed Up!!</h1>
	<div class="container">
		<div>
			Add another user: <a href="http://localhost:3000/signup"><h2>Sign Up</h2></a>
		</div>
		<div>
			Login <a href="http://localhost:3000/login"><h2>Login</h2></a>
		</div>
	</div>
	
	</body>
</html>
